body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(38, 38, 197);
}

.images {
	background: yellowgreen;
	flex: 0 0 70%;
	min-height: 75vh;
	background: url("../images/img-1.jpg") center/cover no-repeat;
	border-radius: 15px;
	box-shadow: 5px 15px #000;
	position: relative;
}
.btn {
	display: inline-block;
	background: #fff;

	border: 2px solid blue;
	border-radius: 15px;
	font-size: 16px;
	padding: 5px 10px;
	box-shadow: 2px 4px #000;
	outline: none;
	text-transform: capitalize;
	font-weight: bold;
}

.prevBtn {
	color: red;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-50%, -50%);
}

.nextBtn {
	color: green;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(50%, -50%);
}

/* .prevBtn:active {
	background: #000;
	color: #fff;
} */

.prevBtn:hover {
	color: #fff;
	background: red;
}

.nextBtn:hover {
	color: #fff;
	background: green;
}
